.popup {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 592px;
  height: 614px;
  padding: 1rem;
  gap: 20px;
  left: 4%;
  top: 24%;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  z-index: 2;
}
